// extends는 다른 코드를 확장하거나 코드를 재사용하고 싶을 경우에 사용하면 된다.

%buttons {
  border-radius: 7px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: peru;
  color: white;
  font-weight: 500;
}
