// 이 안에 원하는 스타일을 작성하게 되면, CSS로 compile된다.

// 아래와 같이 저장된 scss파일 전체를 가져올 수 있다.
// 저장되어 있는 $를 포함한 명령어를 원하는 곳에다가 작성하면 사용할 수 있다.
@import "_variables";

// programming으로써 css를 사용하고 싶다면, 아래와 같이 mixin을 사용할 수 있다.
// mixin안에 포함되어 있는 함수명을 가지고 와서 @include link()라고 작성하여
// 원하는 곳에 배치하여 사용할 수 있다.
// mixin은 상황에 따라 다르게 코딩을 하고 싶으면 사용하는 것이다.
@import "_mixins";
@import "_responsive";

// @extend를 함께 작성하여 사용한다, 공통적으로 사용하고 싶은 것들을 %붙인 명령어로 만들어서,
// styles에서 @extend와 함계 사용하면 적용된다.
@import "_buttons"; // nesting이 라는 기술이 있다, 예를 들어, box라는 class명을 가지고 있는 부모태그가 존재하면
// 그것에 속해 있는 자식 태그를 .box 부모 class하나에 담아서 사용할 수 있다.

h1 {
  // @content를 사용하면 아래와 같이 mixin을 사용하고도, 원하는 변화의 값들을 작성하여,
  // mixin의 기능과 합쳐서 사용할 수 있다.
  @include responsive("iphone") {
    color: yellow;
  }
  @include responsive("iphone-l") {
    font-size: 60px;
  }
  @include responsive("tablet") {
    color: green;
  }
}
